<section class="tip-of-the-day-banner-container">
  <div class="container">
    <div class="tip-of-the-day-banner">
      <img class="" src="/assets/images/img-chef-banner.png" alt="Image"/>
      <div class="row">
        <div class="col-md-9">
          <div class="banner-text">
            <h2>Tip of the day...</h2>
            <p>Toast oatmeal in the oven before adding to other ingredients when making oatmeal cookies–delicious!</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tip-of-the-day-button">
            <a class="see-all" href="#">See All</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>