<div class="recipes-home-body">
  <div class="container">
    <div class="row">
      <div class="body-contents">
        <div class="recipe-set">
          <h2>Better-for-You Bites</h2>
          <div class="boxed-recipes text-center">
            <div class="row">
              <div class="col-sm-4">
                <div class="recipe-single animated wow flipInY">
                  <div class="recipe-image"> <a href="#"><img src="/assets/images/img-latest-recipes-01.jpg" alt="image"/></a> </div>
                  <div class="outer-detail">
                    <div class="detail">
                      <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                      <a class="sticker master" href="#" title="Search for Master Recipes" tabindex="0"> Master </a>
                      <h3><a href="#">Chicken Fajitas</a></h3>

                      <div class="rating-box">
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full-outline"></i>
                        <i class="os-icon os-icon-star-full-outline"></i>
                      </div>

                      <ul class="post-meta text-center">
                        <li><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 1 3/4 hours"></i> 2 Hours</li>
                        <li><i class="os-icon os-icon-thin-serve" title="Servings: 4 persons"></i> Serves 4</li>
                        <li><i class="os-icon os-icon-eye" title="Total Views: 1,427"></i> 1,427 Views</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="recipe-single animated wow flipInY animation-delay200ms">
                  <div class="recipe-image"> <a href="#"><img src="/assets/images/img-latest-recipes-02.jpg" alt="image"/></a> </div>
                  <div class="outer-detail">
                    <div class="detail">
                      <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                      <a class="sticker easy" href="#" title="Search for Easy Recipes" tabindex="0"> Easy </a>
                      <h3><a href="#">General Tso's Chicken</a></h3>

                      <div class="rating-box">
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                      </div>

                      <ul class="post-meta text-center">
                        <li><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: About 40 minutes"></i> 40 Mins</li>
                        <li><i class="os-icon os-icon-thin-serve" title="Servings: 2 to 3 persons"></i> Serves 3</li>
                        <li><i class="os-icon os-icon-eye" title="Total Views: 1,867"></i> 1,867 Views</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="recipe-single animated wow flipInY animation-delay400ms">
                  <div class="recipe-image"> <a href="#"><img src="/assets/images/img-latest-recipes-03.jpg" alt="image"/></a> </div>
                  <div class="outer-detail">
                    <div class="detail">
                      <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                      <a class="sticker easy" href="#" title="Search for Easy Recipes" tabindex="0"> Easy </a>
                      <h3><a href="#">Deviled Chicken Thighs</a></h3>

                      <div class="rating-box">
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full-outline"></i>
                        <i class="os-icon os-icon-star-full-outline"></i>
                      </div>

                      <ul class="post-meta text-center">
                        <li><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 20 minutes"></i> 20 Mins</li>
                        <li><i class="os-icon os-icon-thin-serve" title="Servings: 4 persons"></i> Serves 4</li>
                        <li><i class="os-icon os-icon-eye" title="Total Views: 848"></i> 848 Views</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="recipe-single animated wow flipInY animation-delay600ms">
                  <div class="recipe-image"> <a href="#"><img src="/assets/images/img-latest-recipes-04.jpg" alt="image"/></a> </div>
                  <div class="outer-detail">
                    <div class="detail">
                      <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                      <a class="sticker medium" href="#" title="Search for Medium Recipes" tabindex="0"> Medium </a>
                      <h3><a href="#">Modern Chicken Potpie</a></h3>

                      <div class="rating-box">
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                      </div>

                      <ul class="post-meta text-center">
                        <li><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 1 hour"></i> 1 Hour</li>
                        <li><i class="os-icon os-icon-thin-serve" title="Servings: 6 persons"></i> Serves 6</li>
                        <li><i class="os-icon os-icon-eye" title="Total Views: 2,047"></i> 2,047 Views</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="recipe-single animated wow flipInY animation-delay800ms">
                  <div class="recipe-image"> <a href="#"><img src="/assets/images/img-latest-recipes-05.jpg" alt="image"/></a> </div>
                  <div class="outer-detail">
                    <div class="detail">
                      <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                      <a class="sticker hard" href="#" title="Search for Hard Recipes" tabindex="0"> Hard </a>
                      <h3><a href="#">Chicken Bouillabaisse</a></h3>

                      <div class="rating-box">
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                      </div>

                      <ul class="post-meta text-center">
                        <li><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 2 hours, plus overnight refrigeration"></i> 2 Hours</li>
                        <li><i class="os-icon os-icon-thin-serve" title="Servings: 8 to 10 persons"></i> Serves 10</li>
                        <li><i class="os-icon os-icon-eye" title="Total Views: 1,037"></i> 1,037 Views</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="recipe-single animated wow flipInY animation-delay1000ms">
                  <div class="recipe-image"> <a href="#"><img src="/assets/images/img-latest-recipes-06.jpg" alt="image"/></a> </div>
                  <div class="outer-detail">
                    <div class="detail">
                      <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                      <a class="sticker medium" href="#" title="Search for Medium Recipes" tabindex="0"> Medium </a>
                      <h3><a href="#">Gingery Chicken Stew</a></h3>

                      <div class="rating-box">
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                        <i class="os-icon os-icon-star-full"></i>
                      </div>

                      <ul class="post-meta text-center">
                        <li><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time:  About 1 hour, largely unattended"></i> 1 Hour</li>
                        <li><i class="os-icon os-icon-thin-serve" title="Servings: 4 persons"></i> Serves 4</li>
                        <li><i class="os-icon os-icon-eye" title="Total Views: 685"></i> 685 Views</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="text-center">
            <a href="#" class="default-btn mid-button theme-border">More Recipes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>