<div class="animate-footer footer footer-variant-two footer-fluid">
  <div class="container">
    <div class="footer-inner">
      <div class="subs-social-options">
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <div class="widget links-widget">
              <h2>Cooking Food</h2>
              <ul>
                <li><a href="#"> Recipes</a></li>
                <li><a href="#"> Tutorials</a></li>
                <li><a href="#"> Cleaning</a></li>
                <li><a href="#"> Blogs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="widget links-widget">
              <h2>Recipes</h2>
              <ul>
                <li><a href="#"> Taste of Pakisan</a></li>
                <li><a href="#"> Diet & Health</a></li>
                <li><a href="#"> Cooking Style</a></li>
                <li><a href="#"> Meal for Kids</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="widget links-widget">
              <h2>Support</h2>
              <ul>
                <li><a href="#"> Advertise with Us</a></li>
                <li><a href="#"> Terms of Service</a></li>
                <li><a href="#"> Privacy Policy</a></li>
                <li><a href="#"> Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-7">
            <div class="widget widget-footer news-letter-signup">
              <h2>Get Our Newsletter</h2>
              <form class="subs-form" action="#" method="post">
                <div class="email-field">
                  <input type="email" name="email" placeholder="Your Email Address"/>
                  <button><i class="fa fa-paper-plane-o"></i></button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 col-sm-5">
            <div class="widget widget-footer">
              <a class="btn-download-app wow animated zoomIn" href="#" target="_blank"><img src="/assets/images/btn-apple-store.png" alt="Download on the App Store" title="Download on the App Store" /></a>
              <a class="btn-download-app wow animated zoomIn  animation-delay200ms" href="#" target="_blank"><img src="/assets/images/btn-google-play.png" alt="Get it on Google Play" title="Get it on Google Play" /></a>
            </div>
            <div class="widget widget-footer social-icons">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
      <div class="footer-copyright var1">
        <div class="row">
          <div class="wow animated slideInUp text-center">
            <p>2018 &copy; Cooking Food Portal. All Rights Reserved.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>