<div class="master-techniques-body">
  <div class="container">
    <div class="row">
      <div class="body-contents">
        <div class="recipe-set">
          <h2>Master The Techniques</h2>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="Master-The-Techniques">
        <div>
          <div class="single-technique">
            <div class="technique-image"> <a href="#"> <img src="/assets/images/img-technique-01.jpg" alt="image"/> </a> </div>
            <div class="technique-detail">
              <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">How to Make Pancakes</a></h3>
              <h5>By Alison Roman</h5>
            </div>
          </div>
        </div>
        <div>
          <div class="single-technique">
            <div class="technique-image"> <a href="#"> <img src="/assets/images/img-technique-02.jpg" alt="image"/> </a> </div>
            <div class="technique-detail BG-Light">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">How to Cook Ham</a></h3>
              <h5>By Sam Sifton</h5>
            </div>
          </div>
        </div>
        <div>
          <div class="single-technique">
            <div class="technique-image"> <a href="#"> <img src="/assets/images/img-technique-03.jpg" alt="image"/> </a> </div>
            <div class="technique-detail">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">How to Make Pizza</a></h3>
              <h5>By Sam Sifton</h5>
            </div>
          </div>
        </div>
        <div>
          <div class="single-technique">
            <div class="technique-image"> <a href="#"> <img src="/assets/images/img-technique-04.jpg" alt="image"/> </a> </div>
            <div class="technique-detail BG-Light">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">How to Cook Brussels Sprouts</a></h3>
              <h5>By Alison Roman</h5>
            </div>
          </div>
        </div>
        <div>
          <div class="single-technique">
            <div class="technique-image"> <a href="#"> <img src="/assets/images/img-technique-03.jpg" alt="image"/> </a> </div>
            <div class="technique-detail">
              <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">How to Make Pizza</a></h3>
              <h5>By Sam Sifton</h5>
            </div>
          </div>
        </div>
        <div>
          <div class="single-technique">
            <div class="technique-image"> <a href="#"> <img src="/assets/images/img-technique-04.jpg" alt="image"/> </a> </div>
            <div class="technique-detail BG-Light">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">How to Cook Brussels Sprouts</a></h3>
              <h5>By Alison Roman</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>