<header>
  <div class="header header-main header-var2 fade-load-down">
    <div class="wrapper-logo-banner">
      <div class="row">
        <div class="col-md-2 text-center no-padding">
          <div class="logo-wrapper"> <a href="01-index.html"><img src="assets/images/logo.png" alt="logo"/></a> </div>

          <!-- Begin Mobile Navigation -->
          <div class="wrapper-main-nav">
            <nav class="nav-collapse responsive-menu">
              <ul class="main-menu">
                <li><a href="01-index.html">Home</a></li>
                <li *ngFor="let aCategory of categories;"> <a href="category/{{aCategory.slug}}">{{aCategory.title_en}}</a>
                  <ul>
                    <li *ngFor="let bCategory of aCategory.categories"><a href="category/{{bCategory.slug}}">{{bCategory.category_title_en}}</a>
                      <ul>
                        <li *ngFor="let cCategory of bCategory.categories"><a href="{{cCategory.slug}}">{{cCategory.category_title_en}}</a></li>
                        ]                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-user"></i> Create Account</a></li>
              </ul>
            </nav>
          </div>
          <!-- End Mobile Navigation -->

          <ul class="header-search-icon">
            <li class="search-trigger"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>

        </div>
        <div class="col-md-1 no-padding">
          <div id="mgmenu1" class="mgmenu_container">
            <div class="container">
              <div class="row">
                <ul class="mgmenu">
                  <li>
                    <span>BROWSE <i class="fa fa-chevron-down"></i></span>
                    <div class="dropdown_fullwidth mgmenu_tabs">

                      <ul class="mgmenu_tabs_nav">
                        <li *ngFor="let aCategory of categories ;first as isFirst;">
                          <a href="#{{aCategory.slug}}" [class.active]="isFirst">{{aCategory.title_en}}</a></li>
                      </ul>
                      <div class="mgmenu_tabs_panels">

                        <div *ngFor="let aCategory of categories ; index as i;" id="{{aCategory.slug}}" [class.mgmenu_tabs_hide]="i !== 0"><!-- Begin Section Recipes -->
                          <div class="col_4" *ngFor="let bCategory of aCategory.categories;">
                            <h4 >{{bCategory.category_title_en}}</h4>
                            <ul>
                              <li *ngFor="let cCategory of bCategory.categories;"><a href="category/{{cCategory.slug}}">{{cCategory.category_title_en}}</a></li>
                            </ul>
                          </div>

                          <br style="clear: both;" />
                        </div>
                        <!-- End Section Recipes -->
                      </div>

                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="main-search-container">
            <div class="row">
              <div class="main-search-form-overlay" style="display: none;"> </div>
              <div class="main-search-form">
                <form method="get" class="search-form" action="#" autocomplete="off">
                  <div class="search-field-w">
                    <input autocomplete="off" class="search-field" placeholder="Recipe, Dish, Ingredient…" value="" name="s" title="Recipe, Dish, Ingredient…" type="search">
                    <!--<input class="search-submit" value="Search" type="submit">-->
                  </div>
                </form>
                <div class="autosuggest-results" style=" display: none;">
                  <div class="autosuggest-items-shadow"></div>
                  <div class="autosuggest-items">
                    <a href="#" class="autosuggest-item">
                      <div class="autosuggest-item-media-w">
                        <div class="autosuggest-item-media-thumbnail fader-activator" style="background-image:url(assets/images/img-latest-recipes-01.jpg); background-size: cover;"></div>
                      </div>
                      <h3 class="autosuggest-item-title">Chicken Fajitas</h3>
                    </a>

                    <a href="#" class="autosuggest-item">
                      <div class="autosuggest-item-media-w">
                        <div class="autosuggest-item-media-thumbnail fader-activator" style="background-image:url(assets/images/img-latest-recipes-02.jpg); background-size: cover;"></div>
                      </div>
                      <h3 class="autosuggest-item-title">General Tso's Chicken</h3>
                    </a>

                    <a href="#" class="autosuggest-item">
                      <div class="autosuggest-item-media-w">
                        <div class="autosuggest-item-media-thumbnail fader-activator" style="background-image:url(assets/images/img-latest-recipes-03.jpg); background-size: cover;"></div>
                      </div>
                      <h3 class="autosuggest-item-title">Deviled Chicken Thighs</h3>
                    </a>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-right">
          <div class="top-nav-notification">
            <a href="#" class="faa-parent animated-hover">
              <i class="fa fa-bell-o faa-ring faa-slow"></i><span class="top-nav-icon-badge">5</span>
            </a>
          </div>
          <div class="top-nav-profile">
            <a href="05-login.html"><i class="fa fa-user top-nav-img-profile-unregistered"></i> CREATE AN ACCOUNT</a>
            <!--<a href="#"><img class="top-nav-img-profile" src="assets/images/profile.jpg" alt="" /> CREATE AN ACCOUNT</a>-->
          </div>
        </div>

      </div>
    </div>
  </div>
</header>



<!--<header>
  <div class="header header-main header-var2 fade-load-down">
    <div class="wrapper-logo-banner">
      <div class="row">
        <div class="col-md-2 text-center no-padding">
          <div class="logo-wrapper"> <a href="01-index.html"><img src="images/logo.png" alt="logo"/></a> </div>

          &lt;!&ndash; Begin Mobile Navigation &ndash;&gt;
          <div class="wrapper-main-nav ">
            <nav class="nav-collapse responsive-menu">
              <ul class="main-menu">
                <li><a href="01-index.html">Home</a></li>
                <li> <a href="#">Recipes</a>
                  <ul>
                    <li><a href="#">Meal Type</a>
                      <ul>
                        <li><a href="#">BreakFast & Brunch</a></li>
                        <li><a href="#">Lunch</a></li>
                        <li><a href="#">Dinner</a></li>
                        <li><a href="#">Appetizers & Snacks</a></li>
                        <li><a href="#">Desserts</a></li>
                        <li><a href="#">Drinks</a></li>
                        <li><a href="#">Cocktail</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Taste of Pakisan</a>
                      <ul>
                        <li><a href="#">Sindhi</a></li>
                        <li><a href="#">Baluchi</a></li>
                        <li><a href="#">Punjabi</a></li>
                        <li><a href="#">Pashtun</a></li>
                        <li><a href="#">Kashmiri</a></li>
                        <li><a href="#">Gujrati</a></li>
                        <li class="lnk-much-more"><a href="#">and much more...</a></li>
                      </ul>
                    </li>
                    <li><a href="#">City Special</a>
                      <ul>
                        <li><a href="#">Karachi</a></li>
                        <li><a href="#">Hyderabad</a></li>
                        <li><a href="#">Lahore</a></li>
                        <li><a href="#">Multan</a></li>
                        <li><a href="#">Quetta</a></li>
                        <li><a href="#">Muzaffarabad</a></li>
                        <li class="lnk-much-more"><a href="#">and much more...</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li> <a href="#">Tutorials</a>
                  <ul>
                    <li><a href="#">Knife Tutorial</a>
                      <ul>
                        <li><a href="#">Chopping</a></li>
                        <li><a href="#">Dicing</a></li>
                        <li><a href="#">Slit & Cut</a></li>
                        <li><a href="#">Fruit Cutting</a></li>
                        <li><a href="#">Vegetable Cutting</a></li>
                        <li class="lnk-much-more"><a href="#">and much more...</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Meat Tutorial</a></li>
                    <li><a href="#">Fish Tutorial</a></li>
                    <li><a href="#">Cooking Tips and Tricks</a></li>
                    <li><a href="#">Vegetable Cutting</a></li>
                    <li><a href="#">Fruit Cutting</a></li>
                    <li><a href="#">Organize Your Kitchen</a></li>
                  </ul>
                </li>
                <li> <a href="#">Cleaning</a>
                  <ul>
                    <li><a href="#">Kitchen</a></li>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">Utensils</a></li>
                    <li><a href="#">Do it yourself</a></li>
                    <li><a href="#">Remove Odours</a></li>
                  </ul>
                </li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#"><i class="fa fa-user"></i> Create Account</a></li>
              </ul>
            </nav>
          </div>
          &lt;!&ndash; End Mobile Navigation &ndash;&gt;

          <ul class="header-search-icon">
            <li class="search-trigger"><a href="#"><i class="fa fa-search"></i></a></li>
          </ul>

        </div>
        <div class="col-md-1 no-padding">
          <div id="mgmenu1" class="mgmenu_container">
            <div class="container">
              <div class="row">
                <ul class="mgmenu">
                  <li>
                    <span>BROWSE <i class="fa fa-chevron-down"></i></span>
                    <div class="dropdown_fullwidth mgmenu_tabs">

                      <ul class="mgmenu_tabs_nav">
                        <li><a href="#recipes" class="current">Recipes</a></li>
                        <li><a href="#tutorials">Tutorials</a></li>
                        <li><a href="#cleaning">Cleaning</a></li>
                        <li><a href="#blog">Blog</a></li>
                      </ul>
                      <div class="mgmenu_tabs_panels">

                        <div id="recipes">&lt;!&ndash; Begin Section Recipes &ndash;&gt;
                          <div class="col_4">
                            <h4>Meal Type</h4>
                            <ul>
                              <li><a href="#">BreakFast & Brunch</a></li>
                              <li><a href="#">Lunch </a></li>
                              <li><a href="#">Dinner</a></li>
                              <li><a href="#">Appetizers & Snacks</a></li>
                              <li><a href="#">Desserts</a></li>
                              <li><a href="#">Drinks</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Taste of Pakisan</h4>
                            <ul>
                              <li><a href="#">Sindhi</a></li>
                              <li><a href="#">Baluchi</a></li>
                              <li><a href="#">Punjabi</a></li>
                              <li><a href="#">Pashtun</a></li>
                              <li><a href="#">Kashmiri</a></li>
                              <li><a href="#">Gujrati</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>City Special</h4>
                            <ul>
                              <li><a href="#">Karachi</a></li>
                              <li><a href="#">Hyderabad</a></li>
                              <li><a href="#">Lahore</a></li>
                              <li><a href="#">Multan</a></li>
                              <li><a href="#">Quetta</a></li>
                              <li><a href="#">Muzaffarabad</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Cooking Style</h4>
                            <ul>
                              <li><a href="#">BBQ </a></li>
                              <li><a href="#">Mutka </a></li>
                              <li><a href="#">Fried</a></li>
                              <li><a href="#">Gravy</a></li>
                              <li><a href="#">Grill</a></li>
                              <li><a href="#">Fried</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>

                          <div class="col_4">
                            <h4>Food Type</h4>
                            <ul>
                              <li><a href="#">Chicken</a></li>
                              <li><a href="#">Beef</a></li>
                              <li><a href="#">Sea Food</a></li>
                              <li><a href="#">Rice</a></li>
                              <li><a href="#">Roti</a></li>
                              <li><a href="#">Daal</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Festival</h4>
                            <ul>
                              <li><a href="#">Eid</a></li>
                              <li><a href="#">Christmas</a></li>
                              <li><a href="#">Birthdays</a></li>
                              <li><a href="#">Ramzan-Iftari & Sehari</a></li>
                              <li><a href="#">Diwali</a></li>
                              <li><a href="#">Navroz</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>World Cuisine</h4>
                            <ul>
                              <li><a href="#">Asian</a></li>
                              <li><a href="#">Indian</a></li>
                              <li><a href="#">Italian</a></li>
                              <li><a href="#">Mexican</a></li>
                              <li><a href="#">Southern</a></li>
                              <li><a href="#">Turkish</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>

                          <br style="clear: both;" />
                        </div>
                        &lt;!&ndash; End Section Recipes &ndash;&gt;

                        <div id="tutorials" class="mgmenu_tabs_hide">&lt;!&ndash; Begin Section Tutorials &ndash;&gt;
                          <div class="col_4">
                            <h4>Knife Tutorial</h4>
                            <ul>
                              <li><a href="#">Chopping</a></li>
                              <li><a href="#">Dicing</a></li>
                              <li><a href="#">Slit & Cut</a></li>
                              <li><a href="#">Fruit Cutting</a></li>
                              <li><a href="#">Vegetable Cutting</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Meat Tutorial</h4>
                            <ul>
                              <li><a href="#">Tutorial List 01</a></li>
                              <li><a href="#">Tutorial List 02 </a></li>
                              <li><a href="#">Tutorial List 03</a></li>
                              <li><a href="#">Tutorial List 04</a></li>
                              <li><a href="#">Tutorial List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Fish Tutorial</h4>
                            <ul>
                              <li><a href="#">Tutorial List 01</a></li>
                              <li><a href="#">Tutorial List 02 </a></li>
                              <li><a href="#">Tutorial List 03</a></li>
                              <li><a href="#">Tutorial List 04</a></li>
                              <li><a href="#">Tutorial List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Cooking Tips and Tricks</h4>
                            <ul>
                              <li><a href="#">Tutorial List 01</a></li>
                              <li><a href="#">Tutorial List 02 </a></li>
                              <li><a href="#">Tutorial List 03</a></li>
                              <li><a href="#">Tutorial List 04</a></li>
                              <li><a href="#">Tutorial List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>

                          <div class="col_4">
                            <h4>Vegetable Cutting</h4>
                            <ul>
                              <li><a href="#">Tutorial List 01</a></li>
                              <li><a href="#">Tutorial List 02 </a></li>
                              <li><a href="#">Tutorial List 03</a></li>
                              <li><a href="#">Tutorial List 04</a></li>
                              <li><a href="#">Tutorial List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Fruit Cutting</h4>
                            <ul>
                              <li><a href="#">Tutorial List 01</a></li>
                              <li><a href="#">Tutorial List 02 </a></li>
                              <li><a href="#">Tutorial List 03</a></li>
                              <li><a href="#">Tutorial List 04</a></li>
                              <li><a href="#">Tutorial List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Organize Your Kitchen</h4>
                            <ul>
                              <li><a href="#">Tutorial List 01</a></li>
                              <li><a href="#">Tutorial List 02 </a></li>
                              <li><a href="#">Tutorial List 03</a></li>
                              <li><a href="#">Tutorial List 04</a></li>
                              <li><a href="#">Tutorial List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>

                          <br style="clear: both;" />
                        </div>
                        &lt;!&ndash; End Section Tutorials &ndash;&gt;

                        <div id="cleaning" class="mgmenu_tabs_hide">&lt;!&ndash; Begin Section Cleaning &ndash;&gt;
                          <div class="col_4">
                            <h4>Kitchen</h4>
                            <ul>
                              <li><a href="#">Cleaning List 01</a></li>
                              <li><a href="#">Cleaning List 02 </a></li>
                              <li><a href="#">Cleaning List 03</a></li>
                              <li><a href="#">Cleaning List 04</a></li>
                              <li><a href="#">Cleaning List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Appliances</h4>
                            <ul>
                              <li><a href="#">Cleaning List 01</a></li>
                              <li><a href="#">Cleaning List 02 </a></li>
                              <li><a href="#">Cleaning List 03</a></li>
                              <li><a href="#">Cleaning List 04</a></li>
                              <li><a href="#">Cleaning List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Utensils</h4>
                            <ul>
                              <li><a href="#">Cleaning List 01</a></li>
                              <li><a href="#">Cleaning List 02 </a></li>
                              <li><a href="#">Cleaning List 03</a></li>
                              <li><a href="#">Cleaning List 04</a></li>
                              <li><a href="#">Cleaning List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Do it yourself</h4>
                            <ul>
                              <li><a href="#">Cleaning List 01</a></li>
                              <li><a href="#">Cleaning List 02 </a></li>
                              <li><a href="#">Cleaning List 03</a></li>
                              <li><a href="#">Cleaning List 04</a></li>
                              <li><a href="#">Cleaning List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Remove Odours</h4>
                            <ul>
                              <li><a href="#">Cleaning List 01</a></li>
                              <li><a href="#">Cleaning List 02 </a></li>
                              <li><a href="#">Cleaning List 03</a></li>
                              <li><a href="#">Cleaning List 04</a></li>
                              <li><a href="#">Cleaning List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>
                          <div class="col_4">
                            <h4>Saftey Tips</h4>
                            <ul>
                              <li><a href="#">Cleaning List 01</a></li>
                              <li><a href="#">Cleaning List 02 </a></li>
                              <li><a href="#">Cleaning List 03</a></li>
                              <li><a href="#">Cleaning List 04</a></li>
                              <li><a href="#">Cleaning List 05</a></li>
                              <li class="lnk-much-more"><a href="#">and much more...</a></li>
                            </ul>
                          </div>

                          <br style="clear: both;" />
                        </div>
                        &lt;!&ndash; End Section Cleaning&ndash;&gt;

                        <div id="blog" class="mgmenu_tabs_hide">&lt;!&ndash; Begin Section Blog &ndash;&gt;
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-01.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-02.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-03.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-04.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>

                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-04.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-03.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-02.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>
                          <div class="col_4">
                            <a href="#"><img src="images/img-technique-01.jpg" alt="" class="inline_img" width="220" height="140"></a>
                            <p class="img_description">Blog Name</p>
                          </div>


                        </div>
                        &lt;!&ndash; End Section Blog &ndash;&gt;

                      </div>

                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="main-search-container">
            <div class="row">
              <div class="main-search-form-overlay" style="display: none;"> </div>
              <div class="main-search-form">
                <form method="get" class="search-form" action="#" autocomplete="off">
                  <div class="search-field-w">
                    <input autocomplete="off" class="search-field" placeholder="Recipe, Dish, Ingredient…" value="" name="s" title="Recipe, Dish, Ingredient…" type="search">
                    &lt;!&ndash;<input class="search-submit" value="Search" type="submit">&ndash;&gt;
                  </div>
                </form>
                <div class="autosuggest-results" style=" display: none;">
                  <div class="autosuggest-items-shadow"></div>
                  <div class="autosuggest-items">
                    <a href="#" class="autosuggest-item">
                      <div class="autosuggest-item-media-w">
                        <div class="autosuggest-item-media-thumbnail fader-activator" style="background-image:url(images/img-latest-recipes-01.jpg); background-size: cover;"></div>
                      </div>
                      <h3 class="autosuggest-item-title">Chicken Fajitas</h3>
                    </a>

                    <a href="#" class="autosuggest-item">
                      <div class="autosuggest-item-media-w">
                        <div class="autosuggest-item-media-thumbnail fader-activator" style="background-image:url(images/img-latest-recipes-02.jpg); background-size: cover;"></div>
                      </div>
                      <h3 class="autosuggest-item-title">General Tso's Chicken</h3>
                    </a>

                    <a href="#" class="autosuggest-item">
                      <div class="autosuggest-item-media-w">
                        <div class="autosuggest-item-media-thumbnail fader-activator" style="background-image:url(images/img-latest-recipes-03.jpg); background-size: cover;"></div>
                      </div>
                      <h3 class="autosuggest-item-title">Deviled Chicken Thighs</h3>
                    </a>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-right">
          <div class="top-nav-notification">
            <a href="#" class="faa-parent animated-hover">
              <i class="fa fa-bell-o faa-ring faa-slow"></i><span class="top-nav-icon-badge">5</span>
            </a>
          </div>
          <div class="top-nav-profile">
            <a href="05-login.html"><i class="fa fa-user top-nav-img-profile-unregistered"></i> CREATE AN ACCOUNT</a>
            &lt;!&ndash;<a href="#"><img class="top-nav-img-profile" src="images/profile.jpg" alt="" /> CREATE AN ACCOUNT</a>&ndash;&gt;
          </div>
        </div>

      </div>
    </div>
  </div>
</header>-->
