<section class="home-recipes-categories-rounded">
  <div class="container">
    <div class="row">
      <div class="home-recipes-categories-round">
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-01.png" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Bread Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-02.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Chicken Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-03.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Cookies </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-04.png" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Pasta and Noodles </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-05.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Cake Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-06.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Pork Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-07.png" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Salad Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-08.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Shrimp Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-09.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Vegan Recipes </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-10.png" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> World Cuisine </a></div>
          </div>
        </div>
        <div>
          <div class="home-recipes-category">
            <div class="recipes-category-img"> <a href="#"> <img src="/assets/images/img-recipes-category-05.jpg" alt="image"/> </a> </div>
            <div class="recipes-category-name"> <a href="#"> Cake Recipes </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>