<section class="hot-recipes-var1 common-mb">
  <div class="container">
    <div class="heading-var1 text-center animated wow flipInX">

      <h2>Weekly Featured Recipes</h2>
      <span class="heading-bell"><i class="os-icon os-icon-thin-serve"></i></span>
      <span class="heading-small">Recipes selected throughout the week from our editor</span>
    </div>
    <div class="row">
      <div class="Latest-Recipes">
        <div>
          <div class="single-recipe">
            <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-recipes-01.jpg" alt="image"/> </a> </div>
            <div class="recipe-detail">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <a class="sticker easy" href="#" title="Search for Easy Recipes"> Easy </a>
              <h3><a href="#">Persian-Inspired Fried Chicken</a></h3>

              <div class="row-gap-20">&nbsp;</div>

              <ul class="post-meta text-center">
                <li class="pull-left"><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 1 hour 30 minutes"></i> 1 hour 30 minutes</li>
                <li class="pull-right icon-bookmark"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div>
          <div class="single-recipe">
            <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-recipes-02.jpg" alt="image"/> </a> </div>
            <div class="recipe-detail bg-white">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">Chicken Skewers With Peanut</a></h3>

              <div class="row-gap-20">&nbsp;</div>

              <ul class="post-meta text-center">
                <li class="pull-left"><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 1 hour 15 minutes"></i> 1 hour 15 minutes</li>
                <li class="pull-right icon-bookmark"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div>
          <div class="single-recipe">
            <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-recipes-03.jpg" alt="image"/> </a> </div>
            <div class="recipe-detail">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <a class="sticker master" href="#" title="Search for Master Recipes"> Master </a>
              <h3><a href="#">Fried Chicken Biscuits</a></h3>

              <div class="row-gap-20">&nbsp;</div>

              <ul class="post-meta text-center">
                <li class="pull-left"><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 2 hour"></i> 2 Hours</li>
                <li class="pull-right icon-bookmark"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div>
          <div class="single-recipe">
            <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-recipes-04.jpg" alt="image"/> </a> </div>
            <div class="recipe-detail bg-white">
              <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">Chicken Baked With Potatoes</a></h3>

              <div class="row-gap-20">&nbsp;</div>

              <ul class="post-meta text-center">
                <li class="pull-left"><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 10 minutes"></i> 10 minutes</li>
                <li class="pull-right icon-bookmark"><a href="#"><i class="fa fa-bookmark" title="Save this recipe"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div>
          <div class="single-recipe">
            <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-recipes-02.jpg" alt="image"/> </a> </div>
            <div class="recipe-detail bg-white">
              <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
              <h3><a href="#">Chicken Skewers With Peanut</a></h3>

              <div class="row-gap-20">&nbsp;</div>

              <ul class="post-meta text-center">
                <li class="pull-left"><i class="os-icon os-icon-thin-clock-busy" title="Cooking Time: 1 hour 15 minutes"></i> 1 hour 15 minutes</li>
                <li class="pull-right icon-bookmark"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>