.mgmenu_tabs .mgmenu_tabs_panels #recipes { background: url(../images/img-menu-cat-01.jpg) bottom right no-repeat; }
.mgmenu_tabs .mgmenu_tabs_panels #tutorials { background: url(../images/img-menu-cat-02.jpg) bottom right no-repeat; }
.mgmenu_tabs .mgmenu_tabs_panels #cleaning { background: url(../images/img-menu-cat-03.jpg) bottom right no-repeat; }