<div class="CTA-Newsletter">
  <div class="container">
    <div class="CTA-Newsletter">
      <div class="row">
        <div class="col-md-6">
          <h2>Subscribe Our Newsletter</h2>
          <p>Get recipes, tips and special offers delivered to your inbox.</p>
        </div>
        <div class="col-md-6">
          <form class="subs-form" action="#" method="post">
            <div class="email-field">
              <input type="email" name="email" placeholder="Your Email Address"/>
              <button>Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>