<app-header></app-header>
<app-banner></app-banner>
<app-slider></app-slider>
<app-popular-recipes></app-popular-recipes>
<app-tip-ofthe-day></app-tip-ofthe-day>
<app-featured-recipes></app-featured-recipes>
<app-newsletter></app-newsletter>
<app-better-for-you-bites></app-better-for-you-bites>
<app-master-techniques></app-master-techniques>
<router-outlet></router-outlet>
<app-footer></app-footer>


<ul _ngcontent-c1="" class="mgmenu_tabs_nav"><!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li _ngcontent-c1=""><a _ngcontent-c1="" href="#recipes" class="true">Recipes</a></li>
  <li _ngcontent-c1=""><a _ngcontent-c1="" href="#tutorial" class="false">Tutorials</a></li>
  <li _ngcontent-c1=""><a _ngcontent-c1="" href="#cleaning" class="false">Cleaning</a></li>
  <li _ngcontent-c1=""><a _ngcontent-c1="" href="#blog" class="false">Blog</a></li></ul>
