<section class="wrapper-home-slider variation-two">
  <div class="home-recipe-slider">
    <div> <img src="/assets/images/banner-02.jpg" alt=""/>
      <div class="container custom-container-slide">
        <div class="slide-detail text-center">
          <div class="slide-detail-inner">
            <div class="slider-tags"> <img src="/assets/images/tag-recipe-of-the-day.png" alt="" /> </div>
            <h2><a href="#">Oven-Roasted Chicken Shawarma</a></h2>

            <div class="short-separator"></div>

            <p> It is the national dish of the Philippines, and the subject of intense and delicious debate across its 7,100 islands whether made with chicken, pork or fish.</p>
          </div>
        </div>
      </div>
    </div>
    <div> <img src="/assets/images/banner-01.jpg" alt=""/>
      <div class="container custom-container-slide">
        <div class="slide-detail text-center">
          <div class="slide-detail-inner">
            <div class="slider-tags"> <img src="/assets/images/tag-recipe-of-the-day.png" alt="" /> </div>
            <h2><a href="#">Chicken Adobo </a></h2>

            <div class="short-separator"></div>

            <p> Here is a recipe for an oven-roasted version of the classic street-side flavor bomb usually cooked on a rotisserie.</p>
          </div>
        </div>
      </div>
    </div>
    <div> <img src="/assets/images/banner-03.jpg" alt=""/>
      <div class="container custom-container-slide">
        <div class="slide-detail text-center">
          <div class="slide-detail-inner">
            <div class="slider-tags"> <img src="/assets/images/tag-recipe-of-the-day.png" alt="" /> </div>
            <h2><a href="#">Chicken Paillards</a></h2>

            <div class="short-separator"></div>

            <p> This recipe brings together leafy herbs, the whisper of sweetness in fresh corn and summer squash, a ripe tomato, and a splash of lemon. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>