<section class="hot-recipes-var2 ext-var3">
  <div class="container">
    <div class="wrapper-hot-recipe-var2">
      <div class="hot-recipes-bordered">
        <div class="heading-var1 text-center animated wow flipInX">
          <h2>Browse Top Popular Recipes</h2>
          <span class="heading-small">Weeknight suppers, seasonal favorites and other ideas</span>
        </div>
        <div class="row wow animated fadeInUp">
          <div class="col-sm-4">
            <div class="single-recipe">
              <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-popular-recipes-01.jpg" alt="image"/> </a> </div>
              <div class="recipe-detail text-center">
                <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                <h3><a href="#">Mushroom Udon Noodle Bowl Recipes</a></h3>

                <div class="row-gap-20">&nbsp;</div>

                <ul class="post-meta text-center">
                  <li class="icon-bookmark btn"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i> Save All 10 Recipes</a></li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single-recipe">
              <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-popular-recipes-02.jpg" alt="image"/> </a> </div>
              <div class="recipe-detail text-center">
                <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                <h3><a href="#">Recipes of Pasta With Sardines</a></h3>

                <div class="row-gap-20">&nbsp;</div>

                <ul class="post-meta text-center">
                  <li class="icon-bookmark btn"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i> Save All 22 Recipes</a></li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single-recipe">
              <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-popular-recipes-03.jpg" alt="image"/> </a> </div>
              <div class="recipe-detail text-center">
                <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                <h3><a href="#">Vegetarian Shepherd's Pie Recipes</a></h3>

                <div class="row-gap-20">&nbsp;</div>

                <ul class="post-meta text-center">
                  <li class="icon-bookmark btn"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i> Save All 32 Recipes</a></li>
                </ul>

              </div>
            </div>
          </div>


        </div>

        <div class="row-gap-30">&nbsp;</div>

        <div class="row wow animated fadeInUp">
          <div class="col-sm-4">
            <div class="single-recipe">
              <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-popular-recipes-04.jpg" alt="image"/> </a> </div>
              <div class="recipe-detail text-center">
                <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                <h3><a href="#">Recipes of Peanut Sauce</a></h3>

                <div class="row-gap-20">&nbsp;</div>

                <ul class="post-meta text-center">
                  <li class="icon-bookmark btn"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i> Save All 18 Recipes</a></li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single-recipe">
              <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-popular-recipes-01.jpg" alt="image"/> </a> </div>
              <div class="recipe-detail text-center">
                <a class="favourite" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                <h3><a href="#">Mushroom Udon Noodle Bowl Recipes</a></h3>

                <div class="row-gap-20">&nbsp;</div>

                <ul class="post-meta text-center">
                  <li class="icon-bookmark btn"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i> Save All 10 Recipes</a></li>
                </ul>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="single-recipe">
              <div class="recipe-image"> <a href="#"> <img src="/assets/images/img-popular-recipes-02.jpg" alt="image"/> </a> </div>
              <div class="recipe-detail text-center">
                <a class="favourite tick" href="#" title="Make this Recipe Favourite"> <i class="fa fa-heart"></i> </a>
                <h3><a href="#">Recipes of Pasta With Sardines</a></h3>

                <div class="row-gap-20">&nbsp;</div>

                <ul class="post-meta text-center">
                  <li class="icon-bookmark btn"><a href="#"><i class="fa fa-bookmark-o" title="Save this recipe"></i> Save All 22 Recipes</a></li>
                </ul>

              </div>
            </div>
          </div>

        </div>



        <div class="text-center">
          <div class="row-gap-40">&nbsp;</div>
          <a href="#" class="default-btn mid-button theme-border">See All Recipes Collections</a>
        </div>
      </div>
    </div>
  </div>
</section>